[worldserver]

#
#    RewardSystemEnable
#        Description: Enable the reward system
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
RewardSystemEnable = 1

#
#    MaxRoll
#        Description: Can alter the max roll for players
#        Default:     1000  - (Enabled)
#                     
MaxRoll = 1000

#
#    MinTime
#        Description: Min Time in Hours before the random roll will take place
#        Default:     2  
#                     
MinTime = 2

#
#    MaxTime
#        Description: Max Time in Hours before the random roll will take place
#        Default:     4  
#                     
MaxTime = 4